<div class="card">
    <div class="card-body bg-gray text-center">
        <h1>Hii !!@Context.Session.GetString("FullName") Welcome to Index Action of User Home Controller</h1>
       
    </div>
</div>
<hr />