USE [OnTimeDB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 14-11-2025 17:10:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Areas]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[AreaID] [bigint] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](max) NULL,
	[CityID] [bigint] NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookedAppointments]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookedAppointments](
	[BookedAppointmentsID] [bigint] IDENTITY(1,1) NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[StartTime] [nvarchar](max) NULL,
	[EndTime] [nvarchar](max) NULL,
	[DoctorClinicSessionID] [bigint] NOT NULL,
	[PatientID] [bigint] NOT NULL,
	[IsPaid] [bit] NOT NULL,
 CONSTRAINT [PK_BookedAppointments] PRIMARY KEY CLUSTERED 
(
	[BookedAppointmentsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookedAppPayment]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookedAppPayment](
	[BookedAppPaymentID] [bigint] IDENTITY(1,1) NOT NULL,
	[BookedAppointmentsID] [bigint] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMode] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_BookedAppPayment] PRIMARY KEY CLUSTERED 
(
	[BookedAppPaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Citys]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citys](
	[CityID] [bigint] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
	[StateID] [bigint] NOT NULL,
 CONSTRAINT [PK_Citys] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicCertificate]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicCertificate](
	[ClinicCertificateID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClinicID] [bigint] NOT NULL,
	[CertificateName] [nvarchar](max) NULL,
	[CertificateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClinicCertificate] PRIMARY KEY CLUSTERED 
(
	[ClinicCertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicFacilities]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicFacilities](
	[ClinicFacilityID] [bigint] IDENTITY(1,1) NOT NULL,
	[FacilityName] [nvarchar](max) NULL,
	[ClinicID] [bigint] NOT NULL,
 CONSTRAINT [PK_ClinicFacilities] PRIMARY KEY CLUSTERED 
(
	[ClinicFacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicOwner]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicOwner](
	[ClinicOwnerID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ClinicID] [bigint] NOT NULL,
 CONSTRAINT [PK_ClinicOwner] PRIMARY KEY CLUSTERED 
(
	[ClinicOwnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClinicRatings]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClinicRatings](
	[ClinicRatingID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClinicID] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_ClinicRatings] PRIMARY KEY CLUSTERED 
(
	[ClinicRatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clinics]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinics](
	[ClinicID] [bigint] IDENTITY(1,1) NOT NULL,
	[ClinicName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[ContactPersonName] [nvarchar](max) NULL,
	[LandLineNo] [nvarchar](max) NULL,
	[WebsiteUrl] [nvarchar](max) NULL,
	[CityID] [bigint] NOT NULL,
 CONSTRAINT [PK_Clinics] PRIMARY KEY CLUSTERED 
(
	[ClinicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorCalenders]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorCalenders](
	[DoctorCalenderID] [bigint] IDENTITY(1,1) NOT NULL,
	[DoctorClinicSessionID] [bigint] NOT NULL,
	[Fromdate] [datetime2](7) NOT NULL,
	[Todate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DoctorCalenders] PRIMARY KEY CLUSTERED 
(
	[DoctorCalenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorClinicSession]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorClinicSession](
	[DoctorClinicSessionID] [bigint] IDENTITY(1,1) NOT NULL,
	[DoctorID] [bigint] NOT NULL,
	[ClinicID] [bigint] NOT NULL,
	[OPDSessionID] [bigint] NOT NULL,
	[StartTime] [nvarchar](max) NULL,
	[EndTime] [nvarchar](max) NULL,
	[TimeInterval] [int] NOT NULL,
 CONSTRAINT [PK_DoctorClinicSession] PRIMARY KEY CLUSTERED 
(
	[DoctorClinicSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorRatings]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorRatings](
	[DoctorRatingID] [bigint] IDENTITY(1,1) NOT NULL,
	[DoctorID] [bigint] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_DoctorRatings] PRIMARY KEY CLUSTERED 
(
	[DoctorRatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[doctors]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[DoctorID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[IsAvailable] [bit] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[DoctorExperience] [nvarchar](max) NULL,
	[AreaID] [bigint] NOT NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[DoctorQualification] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[ClinicID] [bigint] NOT NULL DEFAULT (CONVERT([bigint],(0))),
	[OPDFees] [decimal](18, 2) NOT NULL DEFAULT ((0.0)),
 CONSTRAINT [PK_doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DoctorSpecialities]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorSpecialities](
	[DoctorSpecialityID] [bigint] IDENTITY(1,1) NOT NULL,
	[DoctorID] [bigint] NOT NULL,
	[SpecilityID] [bigint] NOT NULL,
 CONSTRAINT [PK_DoctorSpecialities] PRIMARY KEY CLUSTERED 
(
	[DoctorSpecialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MedicineID] [bigint] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NULL,
	[GenericName] [nvarchar](max) NULL,
	[MedicineTypes] [int] NOT NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OPDSessions]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPDSessions](
	[OPDSessionID] [bigint] IDENTITY(1,1) NOT NULL,
	[SessionName] [nvarchar](max) NULL,
	[ClinicID] [bigint] NOT NULL,
 CONSTRAINT [PK_OPDSessions] PRIMARY KEY CLUSTERED 
(
	[OPDSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL DEFAULT ((0)),
	[EmailID] [nvarchar](max) NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[UserID] [bigint] NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionID] [bigint] IDENTITY(1,1) NOT NULL,
	[PrescriptionDate] [nvarchar](max) NULL,
	[BookedAppointmentsID] [bigint] NOT NULL,
	[DoctorID] [bigint] NOT NULL,
 CONSTRAINT [PK_Prescription] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrescriptionMedicine]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionMedicine](
	[PrescriptionMedicineID] [bigint] IDENTITY(1,1) NOT NULL,
	[Dosage] [nvarchar](max) NULL,
	[Frequency] [nvarchar](max) NULL,
	[Qty] [nvarchar](max) NULL,
	[Unit] [int] NOT NULL,
	[PrescriptionID] [bigint] NOT NULL,
	[MedicineID] [bigint] NOT NULL DEFAULT (CONVERT([bigint],(0))),
 CONSTRAINT [PK_PrescriptionMedicine] PRIMARY KEY CLUSTERED 
(
	[PrescriptionMedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrescriptionQuality]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrescriptionQuality](
	[PrescriptionQualityID] [bigint] IDENTITY(1,1) NOT NULL,
	[PrescriptionID] [bigint] NOT NULL,
	[NextVisit] [nvarchar](max) NULL,
	[Suggestion] [nvarchar](max) NULL,
 CONSTRAINT [PK_PrescriptionQuality] PRIMARY KEY CLUSTERED 
(
	[PrescriptionQualityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specilities]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specilities](
	[SpecilityID] [bigint] IDENTITY(1,1) NOT NULL,
	[SpecilityName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Specilities] PRIMARY KEY CLUSTERED 
(
	[SpecilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateID] [bigint] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](max) NULL,
	[CountryID] [bigint] NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 14-11-2025 17:10:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[EmailID] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[CountryID] [bigint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [EmailID], [MobileNo], [Password]) VALUES (1, N'Sunil', N'Pawar', N'sunil@hotmail.com', N'9373750490', N'abcd')
INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [EmailID], [MobileNo], [Password]) VALUES (2, N'Anil', N'Sumbe', N'Anil12@gmail.com', N'9373750490', N'abcd')
INSERT [dbo].[Admins] ([AdminID], [FirstName], [LastName], [EmailID], [MobileNo], [Password]) VALUES (3, N'Mahesh', N'Tambe', N'mahesh@gmail.com', N'9373751234', N'abcd')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([AreaID], [AreaName], [CityID]) VALUES (1, N'Parner', 3)
INSERT [dbo].[Areas] ([AreaID], [AreaName], [CityID]) VALUES (2, N'Hilo Hema', 2)
INSERT [dbo].[Areas] ([AreaID], [AreaName], [CityID]) VALUES (3, N'Jamgoan', 3)
SET IDENTITY_INSERT [dbo].[Areas] OFF
SET IDENTITY_INSERT [dbo].[BookedAppointments] ON 

INSERT [dbo].[BookedAppointments] ([BookedAppointmentsID], [AppointmentDate], [StartTime], [EndTime], [DoctorClinicSessionID], [PatientID], [IsPaid]) VALUES (2, CAST(N'2025-09-15 00:00:00.0000000' AS DateTime2), N'08:00 AM', N'08.10', 19, 2, 1)
INSERT [dbo].[BookedAppointments] ([BookedAppointmentsID], [AppointmentDate], [StartTime], [EndTime], [DoctorClinicSessionID], [PatientID], [IsPaid]) VALUES (3, CAST(N'2025-09-18 00:00:00.0000000' AS DateTime2), N'08:10 AM', N'08.15Am', 19, 3, 0)
INSERT [dbo].[BookedAppointments] ([BookedAppointmentsID], [AppointmentDate], [StartTime], [EndTime], [DoctorClinicSessionID], [PatientID], [IsPaid]) VALUES (5, CAST(N'2025-09-16 00:00:00.0000000' AS DateTime2), N'08:00 AM', N'08.10Am', 19, 5, 1)
SET IDENTITY_INSERT [dbo].[BookedAppointments] OFF
SET IDENTITY_INSERT [dbo].[BookedAppPayment] ON 

INSERT [dbo].[BookedAppPayment] ([BookedAppPaymentID], [BookedAppointmentsID], [Amount], [PaymentMode]) VALUES (34, 2, CAST(1500.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[BookedAppPayment] ([BookedAppPaymentID], [BookedAppointmentsID], [Amount], [PaymentMode]) VALUES (35, 3, CAST(1000.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[BookedAppPayment] ([BookedAppPaymentID], [BookedAppointmentsID], [Amount], [PaymentMode]) VALUES (36, 5, CAST(6000.00 AS Decimal(18, 2)), 4)
SET IDENTITY_INSERT [dbo].[BookedAppPayment] OFF
SET IDENTITY_INSERT [dbo].[Citys] ON 

INSERT [dbo].[Citys] ([CityID], [CityName], [StateID]) VALUES (1, N'Pune', 1)
INSERT [dbo].[Citys] ([CityID], [CityName], [StateID]) VALUES (2, N'Hilo', 2)
INSERT [dbo].[Citys] ([CityID], [CityName], [StateID]) VALUES (3, N'Ahmednagar', 1)
SET IDENTITY_INSERT [dbo].[Citys] OFF
SET IDENTITY_INSERT [dbo].[ClinicCertificate] ON 

INSERT [dbo].[ClinicCertificate] ([ClinicCertificateID], [ClinicID], [CertificateName], [CertificateDate]) VALUES (1, 5, N'Health ministry', CAST(N'2023-12-25 15:32:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ClinicCertificate] OFF
SET IDENTITY_INSERT [dbo].[ClinicOwner] ON 

INSERT [dbo].[ClinicOwner] ([ClinicOwnerID], [FirstName], [LastName], [Gender], [EmailID], [MobileNo], [Password], [ClinicID]) VALUES (1, N'Chaitali', N'Mahandule', N'Female', N'Chaitali@gmail.com', N'9373750470', N'1234', 1)
INSERT [dbo].[ClinicOwner] ([ClinicOwnerID], [FirstName], [LastName], [Gender], [EmailID], [MobileNo], [Password], [ClinicID]) VALUES (2, N'Suraj', N'Mahandule', N'Male', N'Sunny@gmail.com', N'3456780932', N'1234', 3)
INSERT [dbo].[ClinicOwner] ([ClinicOwnerID], [FirstName], [LastName], [Gender], [EmailID], [MobileNo], [Password], [ClinicID]) VALUES (3, N'Sujata', N'Kale', N'Female', N'sujata@gmail.com', N'9867890967', N'abcd', 6)
SET IDENTITY_INSERT [dbo].[ClinicOwner] OFF
SET IDENTITY_INSERT [dbo].[Clinics] ON 

INSERT [dbo].[Clinics] ([ClinicID], [ClinicName], [Address], [MobileNo], [EmailID], [ContactPersonName], [LandLineNo], [WebsiteUrl], [CityID]) VALUES (1, N'Healthcare', N'Akurdi Pune', N'9078564512', N'Healthcare@gmail.com', N'2345679078', N'324278', N'Http.Healthcare', 1)
INSERT [dbo].[Clinics] ([ClinicID], [ClinicName], [Address], [MobileNo], [EmailID], [ContactPersonName], [LandLineNo], [WebsiteUrl], [CityID]) VALUES (3, N'OnTime', N'ramnagar', N'8909875612', N'Ontime@gmail.com', N'8978908756', N'676454', N'Http.Ontime', 3)
INSERT [dbo].[Clinics] ([ClinicID], [ClinicName], [Address], [MobileNo], [EmailID], [ContactPersonName], [LandLineNo], [WebsiteUrl], [CityID]) VALUES (5, N'Lifecare', N'Pimple Kapas', N'8978123456', N'lifecare@gmail.com', N'9078564321', N'786542321212', N'http://www.lifecare.com', 4)
SET IDENTITY_INSERT [dbo].[Clinics] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'India')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'England')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Japan')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[DoctorCalenders] ON 

INSERT [dbo].[DoctorCalenders] ([DoctorCalenderID], [DoctorClinicSessionID], [Fromdate], [Todate]) VALUES (2, 10, CAST(N'2025-09-15 15:49:00.0000000' AS DateTime2), CAST(N'2025-09-25 15:49:00.0000000' AS DateTime2))
INSERT [dbo].[DoctorCalenders] ([DoctorCalenderID], [DoctorClinicSessionID], [Fromdate], [Todate]) VALUES (3, 12, CAST(N'2025-09-13 15:51:00.0000000' AS DateTime2), CAST(N'2025-09-17 15:51:00.0000000' AS DateTime2))
INSERT [dbo].[DoctorCalenders] ([DoctorCalenderID], [DoctorClinicSessionID], [Fromdate], [Todate]) VALUES (6, 10, CAST(N'2025-09-15 15:29:00.0000000' AS DateTime2), CAST(N'2025-09-23 15:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DoctorCalenders] OFF
SET IDENTITY_INSERT [dbo].[DoctorClinicSession] ON 

INSERT [dbo].[DoctorClinicSession] ([DoctorClinicSessionID], [DoctorID], [ClinicID], [OPDSessionID], [StartTime], [EndTime], [TimeInterval]) VALUES (9, 24, 3, 1, N'9am', N'10am', 5)
INSERT [dbo].[DoctorClinicSession] ([DoctorClinicSessionID], [DoctorID], [ClinicID], [OPDSessionID], [StartTime], [EndTime], [TimeInterval]) VALUES (10, 25, 1, 3, N'1pm', N'2pm', 10)
INSERT [dbo].[DoctorClinicSession] ([DoctorClinicSessionID], [DoctorID], [ClinicID], [OPDSessionID], [StartTime], [EndTime], [TimeInterval]) VALUES (11, 26, 7, 3, N'12noon', N'1pm', 5)
SET IDENTITY_INSERT [dbo].[DoctorClinicSession] OFF
SET IDENTITY_INSERT [dbo].[doctors] ON 

INSERT [dbo].[doctors] ([DoctorID], [FirstName], [LastName], [MobileNo], [IsAvailable], [Address], [DoctorExperience], [AreaID], [PhotoPath], [DoctorQualification], [Password], [ClinicID], [OPDFees]) VALUES (24, N'Rutuja', N'Fund', N'9876567890', 1, N'At.Sarola Adwai', N'5yr', 3, N'/DoctorsPhoto/Cardiologist.jpg', N'MBBS (3-year MD/DNB & 2-3 year DM/DNB)', N'1234', 3, CAST(700.00 AS Decimal(18, 2)))
INSERT [dbo].[doctors] ([DoctorID], [FirstName], [LastName], [MobileNo], [IsAvailable], [Address], [DoctorExperience], [AreaID], [PhotoPath], [DoctorQualification], [Password], [ClinicID], [OPDFees]) VALUES (25, N'Anjali', N'Jadhav', N'6789765678', 1, N'near Shitla Devi Tempal', N'4yr', 15, N'/DoctorsPhoto/Dentist.jpg', N'2yr', N'1234', 1, CAST(900.00 AS Decimal(18, 2)))
INSERT [dbo].[doctors] ([DoctorID], [FirstName], [LastName], [MobileNo], [IsAvailable], [Address], [DoctorExperience], [AreaID], [PhotoPath], [DoctorQualification], [Password], [ClinicID], [OPDFees]) VALUES (26, N'Shivansh', N'Abuj', N'7809789067', 1, N'Pradhikaran ,Hilo', N'6yr', 2, N'/DoctorsPhoto/Neurologist.jpg', N'MBBS(MD,DM)', N'1234', 7, CAST(1000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[doctors] OFF
SET IDENTITY_INSERT [dbo].[DoctorSpecialities] ON 

INSERT [dbo].[DoctorSpecialities] ([DoctorSpecialityID], [DoctorID], [SpecilityID]) VALUES (64, 24, 3)
INSERT [dbo].[DoctorSpecialities] ([DoctorSpecialityID], [DoctorID], [SpecilityID]) VALUES (65, 25, 4)
INSERT [dbo].[DoctorSpecialities] ([DoctorSpecialityID], [DoctorID], [SpecilityID]) VALUES (66, 26, 2)
SET IDENTITY_INSERT [dbo].[DoctorSpecialities] OFF
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([MedicineID], [MedicineName], [GenericName], [MedicineTypes]) VALUES (1, N'Paracetamol', N'Acetaminophen', 0)
INSERT [dbo].[Medicine] ([MedicineID], [MedicineName], [GenericName], [MedicineTypes]) VALUES (2, N'Metformin', N'Metformin Hydrochloride', 0)
INSERT [dbo].[Medicine] ([MedicineID], [MedicineName], [GenericName], [MedicineTypes]) VALUES (3, N'Amoxicillin', N'Amoxicillin Trihydrate', 1)
SET IDENTITY_INSERT [dbo].[Medicine] OFF
SET IDENTITY_INSERT [dbo].[OPDSessions] ON 

INSERT [dbo].[OPDSessions] ([OPDSessionID], [SessionName], [ClinicID]) VALUES (1, N'Morning OPD', 1)
INSERT [dbo].[OPDSessions] ([OPDSessionID], [SessionName], [ClinicID]) VALUES (3, N'Afternoon OPD', 5)
INSERT [dbo].[OPDSessions] ([OPDSessionID], [SessionName], [ClinicID]) VALUES (4, N'Evening OPD', 3)
SET IDENTITY_INSERT [dbo].[OPDSessions] OFF
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Address], [MobileNo], [Gender], [EmailID], [PhotoPath], [UserID]) VALUES (2, N'Akash', N'Pawar', N'RamNagar ,Sarola Adwai', N'8976893412', 1, N'Akash@gmail.com', N'/PatientsPhotos/patient6.jpg', 2)
INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Address], [MobileNo], [Gender], [EmailID], [PhotoPath], [UserID]) VALUES (3, N'Abhi', N'Abuj', N'shitla devi temple', N'9876908790', 1, N'Abhi34@gmail.com', N'/PatientsPhotos/patient7.jpg', 2)
INSERT [dbo].[Patients] ([PatientID], [FirstName], [LastName], [Address], [MobileNo], [Gender], [EmailID], [PhotoPath], [UserID]) VALUES (5, N'Shivani', N'Aadhav', N'FisrtClassClinic', N'789866778', 0, N'Shivani@gmail.com', N'/PatientsPhotos/Patient1.jpg', 1)
SET IDENTITY_INSERT [dbo].[Patients] OFF
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionID], [PrescriptionDate], [BookedAppointmentsID], [DoctorID]) VALUES (58, N'28-09-2025 20:13:48', 2, 39)
INSERT [dbo].[Prescription] ([PrescriptionID], [PrescriptionDate], [BookedAppointmentsID], [DoctorID]) VALUES (59, N'25-09-2025 10:16:23', 3, 39)
INSERT [dbo].[Prescription] ([PrescriptionID], [PrescriptionDate], [BookedAppointmentsID], [DoctorID]) VALUES (60, N'25-09-2025 11:19:31', 5, 39)
SET IDENTITY_INSERT [dbo].[Prescription] OFF
SET IDENTITY_INSERT [dbo].[PrescriptionMedicine] ON 

INSERT [dbo].[PrescriptionMedicine] ([PrescriptionMedicineID], [Dosage], [Frequency], [Qty], [Unit], [PrescriptionID], [MedicineID]) VALUES (118, N'1 tablet,250mg', N'1-0-1', N'6', 0, 59, 2)
INSERT [dbo].[PrescriptionMedicine] ([PrescriptionMedicineID], [Dosage], [Frequency], [Qty], [Unit], [PrescriptionID], [MedicineID]) VALUES (119, N'1 Tablet,500mg', N'0-0-1', N'12', 2, 59, 5)
INSERT [dbo].[PrescriptionMedicine] ([PrescriptionMedicineID], [Dosage], [Frequency], [Qty], [Unit], [PrescriptionID], [MedicineID]) VALUES (120, N'1 Packet per day', N'0-1-0', N'20.5g', 0, 59, 6)
SET IDENTITY_INSERT [dbo].[PrescriptionMedicine] OFF
SET IDENTITY_INSERT [dbo].[PrescriptionQuality] ON 

INSERT [dbo].[PrescriptionQuality] ([PrescriptionQualityID], [PrescriptionID], [NextVisit], [Suggestion]) VALUES (38, 58, N'4-10-2025', N'Take medicines on time,Stay hydrated')
INSERT [dbo].[PrescriptionQuality] ([PrescriptionQualityID], [PrescriptionID], [NextVisit], [Suggestion]) VALUES (39, 59, N'7-10-2025', N'Eat a balanced diet')
INSERT [dbo].[PrescriptionQuality] ([PrescriptionQualityID], [PrescriptionID], [NextVisit], [Suggestion]) VALUES (40, 60, N'9-10-2025', N'Take medicines on time,Maintain a regular sleep schedule')
SET IDENTITY_INSERT [dbo].[PrescriptionQuality] OFF
SET IDENTITY_INSERT [dbo].[Specilities] ON 

INSERT [dbo].[Specilities] ([SpecilityID], [SpecilityName]) VALUES (1, N'Dermatologist')
INSERT [dbo].[Specilities] ([SpecilityID], [SpecilityName]) VALUES (2, N'Neurologist')
INSERT [dbo].[Specilities] ([SpecilityID], [SpecilityName]) VALUES (3, N'Cardiologist')
SET IDENTITY_INSERT [dbo].[Specilities] OFF
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateID], [StateName], [CountryID]) VALUES (1, N'Maharashtra', 1)
INSERT [dbo].[States] ([StateID], [StateName], [CountryID]) VALUES (2, N'Hawaii', 5)
INSERT [dbo].[States] ([StateID], [StateName], [CountryID]) VALUES (16, N'Punjab', 1)
SET IDENTITY_INSERT [dbo].[States] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [EmailID], [MobileNo], [Address], [Password], [CountryID]) VALUES (1, N'Chaitali', N'Mahandule', N'Chaitali2512@gmail.com', N'9373750470', N'At.sarola Adwai
Ramnagar', N'abcd', 5)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [EmailID], [MobileNo], [Address], [Password], [CountryID]) VALUES (2, N'Gaurav', N'mahandule', N'gaurav@gmail.com', N'8989095634', N'Avasari', NULL, 1)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [EmailID], [MobileNo], [Address], [Password], [CountryID]) VALUES (3, N'Nikhil', N'Kale', N'Nikhil@gmail.com', N'8887569087', N'Estern River Residency,pimpri', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_Citys_CityID] FOREIGN KEY([CityID])
REFERENCES [dbo].[Citys] ([CityID])
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_Citys_CityID]
GO
ALTER TABLE [dbo].[BookedAppointments]  WITH CHECK ADD  CONSTRAINT [FK_BookedAppointments_DoctorClinicSession_DoctorClinicSessionID] FOREIGN KEY([DoctorClinicSessionID])
REFERENCES [dbo].[DoctorClinicSession] ([DoctorClinicSessionID])
GO
ALTER TABLE [dbo].[BookedAppointments] CHECK CONSTRAINT [FK_BookedAppointments_DoctorClinicSession_DoctorClinicSessionID]
GO
ALTER TABLE [dbo].[BookedAppointments]  WITH CHECK ADD  CONSTRAINT [FK_BookedAppointments_Patients_PatientID] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[BookedAppointments] CHECK CONSTRAINT [FK_BookedAppointments_Patients_PatientID]
GO
ALTER TABLE [dbo].[BookedAppPayment]  WITH CHECK ADD  CONSTRAINT [FK_BookedAppPayment_BookedAppointments_BookedAppointmentsID] FOREIGN KEY([BookedAppointmentsID])
REFERENCES [dbo].[BookedAppointments] ([BookedAppointmentsID])
GO
ALTER TABLE [dbo].[BookedAppPayment] CHECK CONSTRAINT [FK_BookedAppPayment_BookedAppointments_BookedAppointmentsID]
GO
ALTER TABLE [dbo].[Citys]  WITH CHECK ADD  CONSTRAINT [FK_Citys_States_StateID] FOREIGN KEY([StateID])
REFERENCES [dbo].[States] ([StateID])
GO
ALTER TABLE [dbo].[Citys] CHECK CONSTRAINT [FK_Citys_States_StateID]
GO
ALTER TABLE [dbo].[ClinicCertificate]  WITH CHECK ADD  CONSTRAINT [FK_ClinicCertificate_Clinics_ClinicID] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinics] ([ClinicID])
GO
ALTER TABLE [dbo].[ClinicCertificate] CHECK CONSTRAINT [FK_ClinicCertificate_Clinics_ClinicID]
GO
ALTER TABLE [dbo].[ClinicFacilities]  WITH CHECK ADD  CONSTRAINT [FK_ClinicFacilities_Clinics_ClinicID] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinics] ([ClinicID])
GO
ALTER TABLE [dbo].[ClinicFacilities] CHECK CONSTRAINT [FK_ClinicFacilities_Clinics_ClinicID]
GO
ALTER TABLE [dbo].[ClinicOwner]  WITH CHECK ADD  CONSTRAINT [FK_ClinicOwner_Clinics_ClinicID] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinics] ([ClinicID])
GO
ALTER TABLE [dbo].[ClinicOwner] CHECK CONSTRAINT [FK_ClinicOwner_Clinics_ClinicID]
GO
ALTER TABLE [dbo].[ClinicRatings]  WITH CHECK ADD  CONSTRAINT [FK_ClinicRatings_Clinics_ClinicID] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinics] ([ClinicID])
GO
ALTER TABLE [dbo].[ClinicRatings] CHECK CONSTRAINT [FK_ClinicRatings_Clinics_ClinicID]
GO
ALTER TABLE [dbo].[Clinics]  WITH CHECK ADD  CONSTRAINT [FK_Clinics_Citys_CityID] FOREIGN KEY([CityID])
REFERENCES [dbo].[Citys] ([CityID])
GO
ALTER TABLE [dbo].[Clinics] CHECK CONSTRAINT [FK_Clinics_Citys_CityID]
GO
ALTER TABLE [dbo].[DoctorCalenders]  WITH CHECK ADD  CONSTRAINT [FK_DoctorCalenders_DoctorClinicSession_DoctorClinicSessionID] FOREIGN KEY([DoctorClinicSessionID])
REFERENCES [dbo].[DoctorClinicSession] ([DoctorClinicSessionID])
GO
ALTER TABLE [dbo].[DoctorCalenders] CHECK CONSTRAINT [FK_DoctorCalenders_DoctorClinicSession_DoctorClinicSessionID]
GO
ALTER TABLE [dbo].[DoctorClinicSession]  WITH CHECK ADD  CONSTRAINT [FK_DoctorClinicSession_Clinics_ClinicID] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinics] ([ClinicID])
GO
ALTER TABLE [dbo].[DoctorClinicSession] CHECK CONSTRAINT [FK_DoctorClinicSession_Clinics_ClinicID]
GO
ALTER TABLE [dbo].[DoctorClinicSession]  WITH CHECK ADD  CONSTRAINT [FK_DoctorClinicSession_doctors_DoctorID] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorClinicSession] CHECK CONSTRAINT [FK_DoctorClinicSession_doctors_DoctorID]
GO
ALTER TABLE [dbo].[DoctorClinicSession]  WITH CHECK ADD  CONSTRAINT [FK_DoctorClinicSession_OPDSessions_OPDSessionID] FOREIGN KEY([OPDSessionID])
REFERENCES [dbo].[OPDSessions] ([OPDSessionID])
GO
ALTER TABLE [dbo].[DoctorClinicSession] CHECK CONSTRAINT [FK_DoctorClinicSession_OPDSessions_OPDSessionID]
GO
ALTER TABLE [dbo].[DoctorRatings]  WITH CHECK ADD  CONSTRAINT [FK_DoctorRatings_doctors_DoctorID] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorRatings] CHECK CONSTRAINT [FK_DoctorRatings_doctors_DoctorID]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_Areas_AreaID] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([AreaID])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_Areas_AreaID]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_Clinics_ClinicID] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinics] ([ClinicID])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_Clinics_ClinicID]
GO
ALTER TABLE [dbo].[DoctorSpecialities]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSpecialities_doctors_DoctorID] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorSpecialities] CHECK CONSTRAINT [FK_DoctorSpecialities_doctors_DoctorID]
GO
ALTER TABLE [dbo].[DoctorSpecialities]  WITH CHECK ADD  CONSTRAINT [FK_DoctorSpecialities_Specilities_SpecilityID] FOREIGN KEY([SpecilityID])
REFERENCES [dbo].[Specilities] ([SpecilityID])
GO
ALTER TABLE [dbo].[DoctorSpecialities] CHECK CONSTRAINT [FK_DoctorSpecialities_Specilities_SpecilityID]
GO
ALTER TABLE [dbo].[OPDSessions]  WITH CHECK ADD  CONSTRAINT [FK_OPDSessions_Clinics_ClinicID] FOREIGN KEY([ClinicID])
REFERENCES [dbo].[Clinics] ([ClinicID])
GO
ALTER TABLE [dbo].[OPDSessions] CHECK CONSTRAINT [FK_OPDSessions_Clinics_ClinicID]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Users_UserID]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_BookedAppointments_BookedAppointmentsID] FOREIGN KEY([BookedAppointmentsID])
REFERENCES [dbo].[BookedAppointments] ([BookedAppointmentsID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_BookedAppointments_BookedAppointmentsID]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_doctors_DoctorID] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[doctors] ([DoctorID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_doctors_DoctorID]
GO
ALTER TABLE [dbo].[PrescriptionMedicine]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionMedicine_Medicine_MedicineID] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[PrescriptionMedicine] CHECK CONSTRAINT [FK_PrescriptionMedicine_Medicine_MedicineID]
GO
ALTER TABLE [dbo].[PrescriptionMedicine]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionMedicine_Prescription_PrescriptionID] FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[Prescription] ([PrescriptionID])
GO
ALTER TABLE [dbo].[PrescriptionMedicine] CHECK CONSTRAINT [FK_PrescriptionMedicine_Prescription_PrescriptionID]
GO
ALTER TABLE [dbo].[PrescriptionQuality]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionQuality_Prescription_PrescriptionID] FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[Prescription] ([PrescriptionID])
GO
ALTER TABLE [dbo].[PrescriptionQuality] CHECK CONSTRAINT [FK_PrescriptionQuality_Prescription_PrescriptionID]
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_States_Countries_CountryID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries_CountryID]
GO
