@model Area


<div class="card">
    <div class="card-body">
        <div>

            <div class="text-danger">
                @TempData["Message"]
            </div>

            <form asp-action="Edit" method="post" class="g-3  p-5 ">
                <input type="hidden" asp-for="AreaID"/>
                <h3>Edit</h3>
                <hr />
                <div class="row">


                    <div class="col-6">
                        <label for="inputNanme4" class="form-label font-18" asp-for="AreaName"></label>
                        <input asp-for="AreaName" class="form-control" />
                        <span asp-validation-for="AreaName" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label for="inputNanme4" class="form-label font-18 ">Select City</label>
                        <select class="form-control" asp-for="CityID" asp-items="@ViewBag.Cities">
                            <option>Select City</option>
                        </select>
                        <span asp-validation-for="CityID" class="text-danger"></span>
                    </div>
                </div>


                

                <br />


                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <a class="btn btn-secondary" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>