@model Specility

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create New</h5>
        <div class="text-danger">
            @TempData["Message"]
        </div>
        
        <form asp-action="Create" method="post" class="row">
            <div class="col-6">
                <label for="inputNanme4" class="form-label" asp-for="SpecilityName"></label>
                <input asp-for="SpecilityName" class=" form-control" />
                <span asp-validation-for="SpecilityName" class="text-danger"></span>
            </div>

            <div class="text-center mt-5">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
                <a class="btn btn-secondary" asp-action="Index">Back</a>
            </div>
        </form>

    </div>
</div>