

<div class="card">
    <div class="card-body bg-light">
        <h1 class="text-center">Welcome To Clinic Home Controller </h1>
    </div>
</div>
<hr />
<div>
    <img src="~/frontendassets/images/about/about-4.jpg" class="bg-gradient border" style="height:100%;width:100%" />
   
</div>
