
<div class="men">
    <section class="page-title bg-1">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block ">
                        <div class="container">
                            <div class="card  mb-3" style="margin-left:80px;margin-right:80px">
                                <div class="card-header text-center" style="background-color:lightblue;color:black;font-size:xx-large">
                                    About
                                </div>
                                <div class="card-body">
                                    <b>
                                        On Time is a web-based healthcare portal designed to streamline the process of finding doctors and booking appointments. It enables patients to search for doctors by specialty, location, view detailed doctor profiles, check available time slots, and schedule appointments online with ease.

                                        The platform not only benefits patients but also assists clinics and doctors in managing their schedules efficiently. Features include real-time appointment tracking, notifications and reminders, and a secure system for managing patient information. By centralizing healthcare services, On Time reduces waiting times, improves patient-doctor communication, and ensures a smooth, hassle-free healthcare experience.

                                        Additionally, the portal provides administrative tools for managing clinics, doctors, and user accounts, as well as defining rules and regulations to maintain service quality. With a user-friendly interface and robust backend management, On Time aims to make healthcare accessible, organized, and efficient for everyone.
                                    </b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br /><br />

</div>
