<script>
    alert("BookedAppointment Successfully...!");
</script>
<div class="text-dark text-center mt-5">
    <span>Please click here to Go Back and search Doctors </span>
    <a asp-action="SearchdoctorInfo" asp-controller="Home" class="text-danger">Click here</a>
</div>
<br />
<br />