
<div class="menu">
	<div class="container">
		<h3 class="mt-2 text-info">Search Doctors :</h3>
		
		@await Component.InvokeAsync("MenuVC")
	</div>
</div>
<hr />
<section class="banner">		
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 ">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Total Health care solution</span>
					<h1 class="mb-3 mt-3">Your most trusted health partner</h1>

					<p class="mb-4 pr-5">Our clinic Provides You Best treatment and as well as all staffs are more Supportive</p>
					<div class="btn-container ">
						<a asp-action="SearchdoctorInfo" asp-controller="Home" asp-area="" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Make appoinment <i class="icofont-simple-right ml-2  "></i></a>
					</div> 
					
					
				</div>
			</div>
		</div>
	</div>
</section>
<br />





<section class="section about">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-sm-6">
				<div class="about-img">
					<img src="~/frontendassets/images/about/img-1.jpg" alt="" class="img-fluid">
					<img src="~/frontendassets/images/about/img-2.jpg" alt="" class="img-fluid mt-4">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="about-img mt-4 mt-lg-0">
					<img src="~/frontendassets/images/about/img-3.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="about-content pl-4 mt-4 mt-lg-0">
					<h2 class="title-color">Personal care <br>& healthy living</h2>
					<p class="mt-4 mb-5">We provide reliable, professional, and patient-focused medical services to support your health and well-being.</p>

					<a href="service.html" class="btn btn-main-2 btn-round-full btn-icon">Services<i class="icofont-simple-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta-section ">
	<div class="container">
		<div class="cta position-relative">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-doctor"></i>
						<span class="h3 counter" data-count="58">0</span>k
						<p>Happy People</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-flag"></i>
						<span class="h3 counter" data-count="700">0</span>+
						<p>Surgery Comepleted</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-badge"></i>
						<span class="h3 counter" data-count="40">0</span>+
						<p>Expert Doctors</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter-stat">
						<i class="icofont-globe"></i>
						<span class="h3 counter" data-count="20">0</span>
						<p>Worldwide Branch</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
<section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Award winning patient care</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Trusted care with excellence, ensuring safety, comfort, and compassion for every patient.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Laboratory services</h4>
					</div>

					<div class="content">
						<p class="mb-4">Accurate and fast diagnostics for better treatment.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Heart Disease</h4>
					</div>
					<div class="content">
						<p class="mb-4">Specialized care for cardiac health and prevention.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-tooth text-lg"></i>
						<h4 class="mt-3 mb-3">Dental Care</h4>
					</div>
					<div class="content">
						<p class="mb-4">Complete oral health solutions with modern treatments.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-crutch text-lg"></i>
						<h4 class="mt-3 mb-3">Body Surgery</h4>
					</div>

					<div class="content">
						<p class="mb-4">Safe and advanced surgical procedures.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Neurology Sargery</h4>
					</div>
					<div class="content">
						<p class="mb-4">Expert treatment for brain and nervous system disorders.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3">Gynecology</h4>
					</div>
					<div class="content">
						<p class="mb-4">Comprehensive women’s healthcare and wellness	</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section appoinment">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 ">
				<div class="appoinment-content">
					<img src="~/frontendassets/images/about/img-3.jpg" alt="" class="img-fluid">
					<div class="emergency">
						<h2 class="text-lg"><i class="icofont-phone-circle text-lg"></i>+23 345 67980</h2>
					</div>
				</div>
			</div>
			 <div class="col-lg-6 col-md-10 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">Short Information</h2>
					<div>
						On Time is a web-based appointment booking portal that allows users to search for doctors, view their details, and schedule appointments easily. The system connects patients with clinics and doctors for various treatments.
					</div>
					Key Features:
					<ul>
						<li>Search doctors by department or specialty</li>
						<li>View clinic and doctor profiles</li>
						<li>Book and manage appointments onlineli</li>
						<li>Admin control for managing doctors, clinics, and users</li>
					</ul>
					<b>Goal:</b>
					To simplify and digitalize the process of booking medical appointments — saving time for both patients and healthcare providers.
				</div>
			</div> 
			
			
			
		</div>
	</div>
</section>
<section class="section testimonial-2 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>We served over 5000+ Patients</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Delivering trusted healthcare with experience, dedication, and proven results.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 testimonial-wrap-2">
				<div class="testimonial-block style-2  gray-bg">
					<i class="icofont-quote-right"></i>

					<div class="testimonial-thumb">
						<img src="~/DoctorsPhoto/Cardiologist.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info ">
						<h4>Amazing service!</h4>
						<span>Rutuja Fund</span>
						<p>
							"Dr. Rutuja is extremely knowledgeable and compassionate. He explained my condition in detail and made me feel comfortable throughout the treatment. I highly recommend him for heart-related issues."
						</p>
					</div>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="~/DoctorsPhoto/Dentist.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Expert doctors!</h4>
						<span>Anjali Jadhav</span>
						<p>
							"Dr. Anjali is very gentle and professional. The dental cleaning procedure was painless and quick. The clinic is clean and well-maintained."
						</p>
					</div>

					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="~/DoctorsPhoto/Neurologist.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Good Support!</h4>
						<span>Shivansh Abuj</span>
						<p>
							"Dr. Abuj took the time to listen carefully to my symptoms. He suggested the right tests and explained everything clearly. I felt reassured and confident in the treatment plan."
						</p>
					</div>

					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="~/DoctorsPhoto/Gynecologist.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Nice Environment!</h4>
						<span>Pallavi Shinde</span>
						<p class="mt-4">
							"Dr. Pallavi Shinde is very approachable and caring. She guided me throughout my pregnancy with patience and expertise. I’m grateful for her support."
					</div>
					<i class="icofont-quote-right"></i>
				</div>

				<div class="testimonial-block style-2  gray-bg">
					<div class="testimonial-thumb">
						<img src="~/DoctorsPhoto/Dermatologist.jpg" alt="" class="img-fluid">
					</div>

					<div class="client-info">
						<h4>Modern Service!</h4>
						<span>Harshada Dhage</span>
						<p>
							"Dr. Harshada is knowledgeable and friendly. She explained my skin treatment step by step, and the results were amazing. Highly recommended for skin problems."
						</p>
					</div>
					<i class="icofont-quote-right"></i>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section clients">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7">
				<div class="section-title text-center">
					<h2>Partners who support us</h2>
					<div class="divider mx-auto my-4"></div>
					<p>Trusted collaborations with leading healthcare partners to deliver quality services.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clients-logo">
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/1.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/2.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/3.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/4.png" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/5.png" alt="" class="img-fluid">
				</div>
			</div>
			
			<div class="col-lg-2">
				<div class="client-thumb">
					<img src="~/frontendassets/images/about/6.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(function () {

		$("#CountryID").change(function () {
			var catid = $(this).val();

			$.ajax({
				url:`/CommonJSON/GetstateJson?CountryID=${catid}`,
				type:"get",
				contentType:"application/json",
				success: function (result) {
					// alert(JSON.stringify(result));
					$("#StateID").empty();
					let opt="";
					var Firstrow=`<option value='0'>Select State</option>`
					$('#StateID').append(Firstrow);
					$.each(result, function (ind, item) {
						 opt = `<option value=${item.stateID}>${item.stateName}</option>`;
						$("#StateID").append(opt);
					});
				},
				error:function(err)
				{
					alert(JSON.stringify(err));
				}
			});
		});




		$("#StateID").change(function () {
			var sid = $(this).val();

			$.ajax({
				url:`/CommonJSON/GetCityJson?stateid=${sid}`,
				type:"get",
				contentType:"application/json",
				success: function (result) {
					// alert(JSON.stringify(result));
					$("#CityID").empty();
					  let opt="";
					var Firstrow=`<option value='0'>Select City</option>`
					$('#CityID').append(Firstrow);
					$.each(result, function (ind, item) {
						opt = `<option value=${item.cityID}>${item.cityName}</option>`;
						$("#CityID").append(opt);
					});
				},
				error:function(err)
				{
					alert(JSON.stringify(err));
				}
			});
		});



	});
</script> 