@model ChangePasswordDto
<div class="card">
    <div class="card-header">
        <h2> Change Password</h2>
    </div>
    <div class="card-body">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="row mb-3">
                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                <div class="col-md-8 col-lg-9">
                    <input asp-for="OldPassword" class="form-control" id="currentPassword" />
                    <span asp-validation-for="OldPassword"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                <div class="col-md-8 col-lg-9">
                    <input asp-for="NewPassword" class="form-control" id="newPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                <div class="col-md-8 col-lg-9">
                    <input asp-for="RetypePassword" class="form-control" id="renewPassword">
                    <span asp-validation-for="RetypePassword"></span>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </form>
    </div>
</div>
</div>