@model OPDSession
<div class="card">
    <div class="card-body">
        <div>

            <div class="text-danger">
                @TempData["Message"]
            </div>

            <form asp-action="Edit" method="post" class="g-3  p-5 ">
                <input type="hidden" asp-for="OPDSessionID"/>
                <h3>Edit</h3>
                <hr />
                <div class="row">


                    <div class="col-6">
                        <label for="inputNanme4" class="form-label font-18" asp-for="SessionName"></label>
                        <input asp-for="SessionName" class="form-control" />
                        <span asp-validation-for="SessionName" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <label for="inputNanme4" class="form-label font-18 ">Select Clinic</label>
                        <select class="form-control" asp-for="ClinicID" asp-items="@ViewBag.Clinic">
                            <option>Select Clinic</option>
                        </select>
                        <span asp-validation-for="ClinicID" class="text-danger"></span>
                    </div>
                </div>

              




                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <a class="btn btn-secondary" asp-action="Index">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
